.login-container{
  position: relative;
  height: 100%;
  width: 100%;
}

.login-container .login-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-content .login-content__title{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}